.swiper-slide-next {
    background-color: black;
}

.swiper-slide-prev {
    background-color: black;
    color: red;
}

.swiper-wrapper {
    background-color: black;
}

.swiper-slide{
    background-color: black;
}


