.bg-custom {
    position: relative;
    background: white /* Istalgan rangni tanlashingiz mumkin */
}

.bg-custom::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    content: 'It Academy';
    text-align: center;
    font-size: 13rem; /* Matn o'lchamini o'zgartiring */
    color: ghostwhite; /* Matn rangini o'zgartiring */
}
